/* Write your CSS code here */
.list-con {
  list-style-type: none;
  outline: none;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.bg-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
}

.para {
  color: #9aa5b1;
  font-size: 15px;
  font-family: 'Roboto';
}

.par {
  color: #9aa5b1;
  font-size: 15px;
  font-family: 'Roboto';
}
.hr {
  width: 3px;
  color: black;
}
